<h1>Harmoniar - Soluções Musicais</h1>

<img src="Logo_Escura.png" alt="Logo Harmoniar">

<p>
  Muitos músicos independentes enfrentam grandes desafios para se estabelecer na carreira, e poucos conseguem alcançar o sucesso, como contratos com gravadoras.
  <br><br>
  Foi pensando nesse desafio que surgiu a Harmoniar, desenvolvendo o aplicativo MajorBeat, que visa ajudar músicos independentes, especialmente no que diz respeito ao preenchimento de suas agendas e ao gerenciamento de sua carreira. A proposta é conectar músicos a contratantes para que esses profissionais superem as dificuldades e avancem rumo à realização de seus sonhos.
</p>
