<h1>MajorBeat</h1>
<img src="LOGOMARCA.png" alt="Logomarca MajorBeat">
<p>
  A incerteza da possibilidade de obter sucesso em uma carreira artística é uma grande barreira em meio a vida de milhares de músicos, que por muitas vezes abandonam o sonho de viver do seu maior prazer para se sustentar através de um trabalho comum. Observando a necessidade dessa parcela da população, foi desenvolvido o MajorBeat, uma plataforma que conecta músicos independentes a contratantes para apresentações ao vivo, sendo um facilitador não apenas para os músicos, mas também para os contratantes.
  <br><br>
  O desenvolvimento do trabalho envolveu pesquisa, elaboração de ideias, organização de pensamentos, comunicação em equipe, planejamento de tarefas, gestão pessoal, idealização de identidade visual, construção de experiência do usuário, conhecimentos de programação, análise de requisitos, lógica, montagem de diagramas, modelagem de Banco de Dados, programação nas linguagens: C#, Javascript, TypeScript.
</p>
